<div class="popup-container description-popup fade-animate fade-out" style="display: none;">
    <div class="popup">
    </div>
    <div class="fixed-mask"></div>
</div>

{{#with_events}}
<div class="header">
    <div class="head">
        <div class="wrap">
            <h1 class="title">
                <span class="text">Деловая программа на выставку</span>
                <span class="name">ДенталЭкспо 2016</span>
            </h1>
            <div class="logo">
                <a href="#"><img src="images/temp/logo.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="toolbar">
        <div class="wrap">
            <div class="event-list">
                <ul class="items">
                    <li class="item current">
                        <a href="#"><i class="fa fa-calendar"></i>Расписание мероприятий</a>
                    </li>
                    <li class="item">
                        <a href="#"><i class="fa fa-microphone"></i>Ведущие мероприятий</a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <div class="wrapper">
                    <input class="input" type="text" placeholder="Введите ключевое слово в описании или названии мероприятия...">
                    <input class="submit" type="submit" value="Поиск">
                </div>
            </div>
            <div class="tool">
                <div class="help">
                    <a href="#"><i class="fa fa-question-circle"></i></a>
                </div>
                <div class="print">
                    <a href="#"><i class="fa fa-print"></i></a>
                </div>
                <div class="lang">
                    <a href="#" class="item icon-sprite icon-lang-ru"></a>
                    <a href="#" class="item icon-sprite icon-lang-en current"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="filter">
        <div class="wrap">
            <div class="categories">
                <div class="title2">Тематики мероприятий</div>
                <ul class="items">
                    {{#themes}}
                    <li class="item"><a href="#">{{#strings}}{{#ru}}{{str}}{{/ru}}{{/strings}}</a></li>
                    {{/themes}}
                </ul>
            </div>
            <div class="categories-faves">
                <div class="title3">Выбранные категории:</div>
                <ul class="items">
                    <li class="item"><a href="#">Тематика 11</a></li>
                    <li class="item"><a href="#">Тематика 12</a></li>
                    <li class="item"><a href="#">Тематика 13</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="content">

    <div class="head">
        <div class="wrap">
            <div class="tabs">
                <ul class="items">
                    {{#days}}
                        {{#day}}
                            <li class="item" data-day="{{id}}" data-days="">{{daym}} {{daym_pretty}}</li>
                        {{/day}}
                    {{/days}}
                </ul>
            </div>
            <div class="view">
                <div class="scheme-button">
                    <i class="fa fa-map-signs"></i>
                    Схема конференц-залов
                </div>
                <div class="scheme-view">
                    <div class="item current">
                        <i class="fa fa-table"></i>
                    </div>
                    <div class="item">
                        <i class="fa fa-th-list"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="schedule-container">

        <div class="schedule-tabs" data-all_halls='{{halls}}'>
            <div class="schedule-tabs-wrap">
                <ul class="items">
                    {{#halls_splits}}
                        <li class="item" data-available-days="{{days}}" data-hall_fr_names='{{hall_fr_names}}'>
                            <a href="#" title="{{#hall_fr_names}}{{.}}&#013;{{/hall_fr_names}}">
                                {{#hall_fr_names}}
                                    <span class="name nobr">{{.}}</span>
                                {{/hall_fr_names}}
                            </a>
                        </li>
                    {{/halls_splits}}
                </ul>
            </div>
        </div>

        {{> table}}

        <div class="schedule-tabs">
            <div class="schedule-tabs-wrap">
                <ul class="items">
                    {{#halls_splits}}
                    <li class="item" data-available-days="{{days}}" data-hall_fr_names='{{hall_fr_names}}'>
                        <a href="#" title="{{#hall_fr_names}}{{.}}&#013;{{/hall_fr_names}}">
                            {{#hall_fr_names}}
                            <span class="name nobr">{{.}}</span>
                            {{/hall_fr_names}}
                        </a>
                    </li>
                    {{/halls_splits}}
                </ul>
            </div>
        </div>


    </div>

</div>
{{/with_events}}
