<div class="popup-container description-popup fade-animate fade-out" style="display: none;">
    <div class="popup">
    </div>
    <div class="fixed-mask"></div>
</div>

{{#with_events}}
<div class="header">
    <div class="head">
        <div class="wrap">
            <h1 class="title">
                <span class="text">Деловая программа на выставку</span>
                <span class="name">Интурмаркет 2016</span>
            </h1>
            <!--
            <div class="logo">
                <a href="#"><img src="images/temp/logo.png" alt=""></a>
            </div>
            -->
        </div>
    </div>
    <div class="toolbar" style="margin:0 auto;">
        <div class="wrap">
            <div class="event-list">
                <ul class="items">
                    <li class="item current">
                        <a href="#"><i class="fa fa-calendar"></i>Расписание мероприятий</a>
                    </li>
                    <!--
                    <li class="item">
                        <a href="#"><i class="fa fa-microphone"></i>Ведущие мероприятий</a>
                    </li>
                    -->
                </ul>
            </div>
            <!--
            <div class="search">
                <div class="wrapper">
                    <input class="input" type="text" placeholder="Введите ключевое слово в описании или названии мероприятия...">
                    <input class="submit" type="submit" value="Поиск">
                </div>
            </div>
            -->
            <div class="tool">
                <!--
                <div class="help">
                    <a href="#"><i class="fa fa-question-circle"></i></a>
                </div>
                -->
                <a href="http://nexpo.me/location/XTJA2EXBED/rest/eventsprint/ru" target="_blank" style="z-index:1000">
                    <div class="print">
                    <i class="fa fa-print"></i>
                    </div>
                </a>
                <div class="lang">
                    <!--<a href="#" class="item icon-sprite icon-lang-ru"></a>-->
                    <a href="#" class="item icon-sprite icon-lang-en current"></a>
                </div>
            </div>
        </div>
    </div>

<!--
    <div class="filter">
        <div class="wrap">
            <div class="categories">
                <div class="title2">Тематики мероприятий</div>
                <ul class="items">
                    {{#themes}}
                    <li class="item"><a href="#">{{#strings}}{{#ru}}{{str}}{{/ru}}{{/strings}}</a></li>
                    {{/themes}}
                </ul>
            </div>
            <div class="categories-faves">
                <div class="title3">Выбранные категории:</div>
                <ul class="items">
                    <li class="item"><a href="#">Тематика 11</a></li>
                    <li class="item"><a href="#">Тематика 12</a></li>
                    <li class="item"><a href="#">Тематика 13</a></li>
                </ul>
            </div>
        </div>
    </div>
-->
</div>

<div class="content">

    <div class="head">
        <div class="wrap">
            <div class="tabs">
                <ul class="items">
                    {{#days}}
                        {{#day}}
                            <li class="item" data-day="{{id}}" data-days="">{{daym}} {{daym_pretty}}</li>
                        {{/day}}
                    {{/days}}
                </ul>
            </div>
            <div class="view">
            <!--
                <div class="scheme-button">
                    <i class="fa fa-map-signs"></i>
                    Схема конференц-залов
                </div>
                <div class="scheme-view">
                    <div class="item current">
                        <i class="fa fa-table"></i>
                    </div>
                    <div class="item">
                        <i class="fa fa-th-list"></i>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>



    <style>
        .authors{
            width: 760px;
            margin: 0 auto;
        }
        .authors .line{
            border: none;
            border-bottom: dotted 1px #b2b2b2;
            margin: 0 18px 20px;
        }
        .author-item{
            display: block;
            padding: 9px;
            margin: 0 0 20px;
            border: solid 1px white;
        }
        .author-item:hover{
            border: solid 1px #bcd46a;
        }
        .author-item .title{
            font-size: 15px;
            font-weight: 700;
            color: #313131;
        }
        .author-item .cont{
            overflow: hidden;
        }
        .author-item .image{
            float: left;
            margin-right: -100%;
            width: 70px;
            height: 70px;
            display: flex;
        }
        .author-item .image img{
            max-width: 70px;
            margin: auto;
        }
        .author-item .text{
            padding-left: 85px;
        }
        .author-item .text p{
            font-size: 14px;
            line-height: 17px;
            margin: 0 0 10px;
        }
        .author-item .foot{
            overflow: hidden;
        }
        .author-item .label{
            float: left;
            font-weight: 700;
            line-height: 24px;
            color: #313131;
        }
        .author-item .items{
            padding-left: 85px;
        }
        .author-item .item{
            display: inline-block;
            background: #ffd9d9;
            padding: 0 10px;
            border-radius: 4px;
            margin-right: 5px;
            line-height: 24px;
        }
    </style>
    <div class="authors">
        <div class="author-items">
            <a href="#" class="author-item">
                <div class="cont">
                    <div class="image">
                        <img src="images/temp/img-2.png" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title">Поликарпов Поликарп Поликарпович</h3>
                        <p>
                            Бизнес-тренер и бизнес-консультант. Ведущий мастер-классов в рамках международных стоматологических конгрессов и выставок (Москва-СПб). Автор публикаций в газете «Стоматология сегодня».
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div class="label">
                        Тематики:
                    </div>
                    <ul class="items">
                        <li class="item">Тематика 1</li>
                        <li class="item">Тематика 2</li>
                    </ul>
                </div>
            </a>

            <hr class="line">

            <a href="#" class="author-item">
                <div class="cont">
                    <div class="image">
                        <img src="images/temp/img-2.png" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title">Поликарпов Поликарп Поликарпович</h3>
                        <p>
                            Бизнес-тренер и бизнес-консультант. Ведущий мастер-классов в рамках международных стоматологических конгрессов и выставок (Москва-СПб). Автор публикаций в газете «Стоматология сегодня».
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div class="label">
                        Тематики:
                    </div>
                    <ul class="items">
                        <li class="item">Тематика 1</li>
                        <li class="item">Тематика 2</li>
                    </ul>
                </div>
            </a>

            <hr class="line">

            <a href="#" class="author-item">
                <div class="cont">
                    <div class="image">
                        <img src="images/temp/img-2.png" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title">Поликарпов Поликарп Поликарпович</h3>
                        <p>
                            Бизнес-тренер и бизнес-консультант. Ведущий мастер-классов в рамках международных стоматологических конгрессов и выставок (Москва-СПб). Автор публикаций в газете «Стоматология сегодня».
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div class="label">
                        Тематики:
                    </div>
                    <ul class="items">
                        <li class="item">Тематика 1</li>
                        <li class="item">Тематика 2</li>
                    </ul>
                </div>
            </a>

            <hr class="line">

            <a href="#" class="author-item">
                <div class="cont">
                    <div class="image">
                        <img src="images/temp/img-2.png" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title">Поликарпов Поликарп Поликарпович</h3>
                        <p>
                            Бизнес-тренер и бизнес-консультант. Ведущий мастер-классов в рамках международных стоматологических конгрессов и выставок (Москва-СПб). Автор публикаций в газете «Стоматология сегодня».
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div class="label">
                        Тематики:
                    </div>
                    <ul class="items">
                        <li class="item">Тематика 1</li>
                        <li class="item">Тематика 2</li>
                    </ul>
                </div>
            </a>

            <hr class="line">

            <a href="#" class="author-item">
                <div class="cont">
                    <div class="image">
                        <img src="images/temp/img-2.png" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title">Поликарпов Поликарп Поликарпович</h3>
                        <p>
                            Бизнес-тренер и бизнес-консультант. Ведущий мастер-классов в рамках международных стоматологических конгрессов и выставок (Москва-СПб). Автор публикаций в газете «Стоматология сегодня».
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div class="label">
                        Тематики:
                    </div>
                    <ul class="items">
                        <li class="item">Тематика 1</li>
                        <li class="item">Тематика 2</li>
                    </ul>
                </div>
            </a>

            <hr class="line">

            <a href="#" class="author-item">
                <div class="cont">
                    <div class="image">
                        <img src="images/temp/img-2.png" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title">Поликарпов Поликарп Поликарпович</h3>
                        <p>
                            Бизнес-тренер и бизнес-консультант. Ведущий мастер-классов в рамках международных стоматологических конгрессов и выставок (Москва-СПб). Автор публикаций в газете «Стоматология сегодня».
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div class="label">
                        Тематики:
                    </div>
                    <ul class="items">
                        <li class="item">Тематика 1</li>
                        <li class="item">Тематика 2</li>
                    </ul>
                </div>
            </a>

        </div>
    </div>



    <div class="schedule-container" data-all_halls='{{halls}}'>

        {{> table}}

    </div>

</div>
{{/with_events}}
