{{#with_events}}

<div class="header">
    <div class="head">
        <div class="wrap">
            <h1 class="title">
                <span class="text">Деловая программа на выставку</span>
                <span class="name">ДенталЭкспо 2016</span>
            </h1>
            <div class="logo">
                <a href="#"><img src="images/temp/logo.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="toolbar">
        <div class="wrap">
            <div class="event-list">
                <ul class="items">
                    <li class="item current">
                        <a href="#"><span class="icon-schedule"></span>Расписание мероприятий</a>
                    </li>
                    <li class="item">
                        <a href="#"><span class="icon-reader"></span>Ведущие мероприятий</a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <div class="wrapper">
                    <input class="input" type="text" placeholder="Введите ключевое слово в описании или названии мероприятия...">
                    <input class="submit" type="submit" value="Поиск">
                </div>
            </div>
            <div class="tool">
                <div class="help">
                    <a href="#" class="icon-sprite icon-help"></a>
                </div>
                <div class="print">
                    <a href="#" class="icon-sprite icon-print"></a>
                </div>
                <div class="lang">
                    <a href="#" class="item icon-sprite icon-lang-en"></a>
                    <a href="#" class="item icon-sprite icon-lang-ru current"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="filter">
        <div class="wrap">
            <div class="categories">
                <div class="title2">Тематики мероприятий</div>
                <ul class="items">
                    {{#themes}}
                    <li class="item"><a href="#">{{#strings}}{{#ru}}{{str}}{{/ru}}{{/strings}}</a></li>
                    {{/themes}}
                </ul>
            </div>
            <div class="categories-faves">
                <div class="title3">Выбранные категории:</div>
                <ul class="items">
                    <li class="item"><a href="#">Тематика 11</a></li>
                    <li class="item"><a href="#">Тематика 12</a></li>
                    <li class="item"><a href="#">Тематика 13</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="content">

    <div class="head">
        <div class="wrap">
            <div class="tabs">
                <ul class="items">

                    {{#days}}
                        {{#day}}
                            <li class="item" data-day="{{id}}" data-days="">{{daym}} {{daym_pretty}}</li>
                        {{/day}}
                    {{/days}}
                </ul>
            </div>
            <div class="view">
                <div class="scheme-button">
                    <span class="icon-sprite icon-scheme"></span>
                    Схема конференц-залов
                </div>
                <div class="scheme-view">
                    <div class="item current">
                        <span class="icon-sprite icon-view-table"></span>
                    </div>
                    <div class="item">
                        <span class="icon-sprite icon-view-list"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="schedule-container">

        <div class="schedule-tabs">
            <div class="schedule-tabs-wrap">
                <ul class="items">
                    {{#halls_splits}}
                        <li class="item" data-available-days="{{days}}" data-fr_name='{{#fr_name}}{{.}};{{/fr_name}}'> <!--{{#selected}}selected{{/selected}} disabled {{^selected}}disabled{{/selected}}-->
                            <a href="#" title="{{#hall_fr_names}}{{.}}&#013;{{/hall_fr_names}}">
                                {{#hall_fr_names}}
                                    <span class="name nobr">{{.}}</span>
                                {{/hall_fr_names}}
                            </a>
                        </li>
                    {{/halls_splits}}
                </ul>
            </div>
        </div>

        {{> table}}



    </div>

</div>
{{/with_events}}