<!--
calendar, microphone
table, th-list
thumbs-o-up
star
map-signs
-->

    <div class="schedule-table">
        <table class="maintable">
            <tr>
                {{#events_halls}}
                <td>
                    <div class="title col1">
                        {{hall_name}}
                    </div>
                </td>
                {{/events_halls}}

                <td>
                    <div class="title col2">
                        Презентации на стендах
                    </div>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <ul class="times">
                        {{#timeline}}
                        <li class="item">{{.}}:00</li>
                        {{/timeline}}
                    </ul>
                </td>
            </tr>
            <tr>

                {{#events_halls}}
                <td class="halls height{{timeline.length}}">

                    {{#events}}

                        <div class="col-outer">
                            <div class="col-inner">

                                <div class="data-block" title="{{#name}}{{#ru}}{{str}}{{/ru}}{{/name}}" style="top: {{#time}}{{top}}{{/time}}px; height: {{#time}}{{height}}{{/time}}px;">
                                    <div class="data-wrap">
                                        <div class="time-interval">
                                            {{#time}}
                                                {{start_time_str}} –
                                                {{end_time_str}}
                                            {{/time}}
                                        </div>
                                        <div class="text">
                                            <p>
                                                {{#name}}
                                                    {{#ru}}
                                                        {{str}}
                                                    {{/ru}}
                                                {{/name}}
                                            </p>
                                            <p class="description">
                                                {{#description}}
                                                    {{#ru}}
                                                        {{{str}}}
                                                    {{/ru}}
                                                {{/description}}
                                            </p>
                                        </div>
                                        <div class="themes">
                                            {{#themes}}
                                                {{#strings}}
                                                    {{#ru}}
                                                        {{str}}
                                                    {{/ru}}
                                                {{/strings}}
                                            {{/themes}}
                                        </div>
                                        <div class="icons">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                        <div class="top-gradient"></div>
                                        <div class="bottom-gradient"></div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {{/events}}
                </td>
                {{/events_halls}}

                <td class="stands">

                    <div class="stands-container height{{timeline.length}}">
                        <table class="stands-table">
                            <tr>
                            {{#events_booths}}
                                <td class="cell height{{timeline.length}}">
                                    {{#.}}

                                    <div class="col-outer">
                                        <div class="col-inner">

                                            <div class="data-block" title="{{#name}}{{#ru}}{{str}}{{/ru}}{{/name}}" style="top: {{#time}}{{top}}{{/time}}px; height: {{#time}}{{height}}{{/time}}px;">
                                                <div class="data-wrap">
                                                    <div class="time-interval">
                                                        {{#time}}
                                                        {{start_time_str}} –
                                                        {{end_time_str}}
                                                        {{/time}}
                                                    </div>
                                                    <div class="text">
                                                        <p>
                                                            {{#name}}
                                                            {{#ru}}
                                                            {{str}}
                                                            {{/ru}}
                                                            {{/name}}
                                                        </p>
                                                        <p class="description">
                                                            {{#description}}
                                                            {{#ru}}
                                                            {{{str}}}
                                                            {{/ru}}
                                                            {{/description}}
                                                        </p>
                                                    </div>
                                                    <div class="themes">
                                                        {{#themes}}
                                                        {{#strings}}
                                                        {{#ru}}
                                                        {{str}}
                                                        {{/ru}}
                                                        {{/strings}}
                                                        {{/themes}}
                                                    </div>
                                                    <div class="icons">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                    </div>
                                                    <div class="top-gradient"></div>
                                                    <div class="bottom-gradient"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    {{/.}}
                                </td>
                            {{/events_booths}}
                            </tr>
                        </table>
                    </div>
                    <div class="right-gradient"></div>
                </td>
            </tr>
        </table>

    </div>