
    <table class="schedule-table">
        <col class="col-first">
        <col span="4" class="cols4">
        <col class="col-last">

        <tr class="titles">
            <td><div class="label empty">&nbsp;</div></td>
            <td><div class="label">Зал 1</div></td>
            <td><div class="label">Зал 2</div></td>
            <td><div class="label">Зал 3</div></td>
            <td><div class="label">Зал 4</div></td>
            <td><div class="label">Презентации на стендах</div></td>
        </tr>

        {{#events_halls}}
            {{hall_name}}<br>
            {{#events}}
                <div class="time">
                    {{#time}}
                        {{start_time_str}} –
                        {{end_time_str}}
                    {{/time}}
                </div>
                <div class="name">
                    {{#name}}
                        {{#ru}}
                            {{str}}
                        {{/ru}}
                    {{/name}}
                </div>
                <div class="themes">
                    {{#themes}}
                        {{#strings}}
                            {{#ru}}
                                {{str}}
                            {{/ru}}
                        {{/strings}}
                    {{/themes}}
                </div>
            {{/events}}
        {{/events_halls}}

        {{events_halls}}

        <!--{{.}}-->
        <!--{{events_booths}}-->

        <tr class="data">
            <td class="time">10:00</td>
            <td>
                <div class="data-block">
            <span class="time-interval">
                10:00 - 11:00
            </span>
                    <p>
                        Проблемы пищеварительного тракта у больших детей и маленьких взрослых.
                    </p>
                </div>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <div class="data-block">
            <span class="time-interval">
                10:00 - 11:00
            </span>
                    <p>
                        Проблемы пищеварительного тракта у больших детей и маленьких взрослых.
                    </p>
                </div>
            </td>
            <td>
                <div class="data-block">
            <span class="time-interval">
                10:00 - 11:00
            </span>
                    <p>
                        Проблемы пищеварительного тракта у больших детей и маленьких взрослых.
                    </p>
                </div>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">11:00</td>
            <td>
                <div class="data-block">
            <span class="time-interval">
                11:00 - 12:00
            </span>
                    <p>
                        Проблемы пищеварительного тракта у больших детей и маленьких взрослых.
                    </p>
                </div>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">12:00</td>
            <td>
                <div class="data-block">
            <span class="time-interval">
                12:00 - 13:00
            </span>
                    <p>
                        Проблемы пищеварительного тракта у больших детей и маленьких взрослых.
                    </p>
                </div>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">13:00</td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">14:00</td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">15:00</td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">16:00</td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">17:00</td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr class="data">
            <td class="time">18:00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

    </table>
