.content{
  min-width: $min-width;
}
.content .head .wrap{
  position: relative;
  max-width: $max-width;
  box-sizing: padding-box;
  margin: 0 auto;
  padding: 40px 3% 0;
}
.content .head{
  margin: 0 0 15px;
  background: #fbfcfd;
  border-bottom: solid 4px #55585f;
}
.content .head .view{
  position: absolute;
  right: 3%;
  top: 36px;
}
.content .tabs .items{
  overflow: hidden;
  margin-right: 400px;
}

.content .tabs .item{
  float: left;
  padding: 14px 20px 9px;
  font-size: 18px;
  font-weight: 700;
  color: #646464;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: background-color 0.1s ease;
  -webkit-transition: background-color 0.1s ease;

}
.content .tabs .item:hover{
  opacity: 0.7;
}
.content .tabs .item.selected{
  background: #55585f;
  color: white;
  opacity: 1;
  cursor: default;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
}
.scheme-button{
  display: inline-block;
  vertical-align: middle;
  background: #bcd46a;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
  cursor: pointer;
  padding: 0 15px 0 12px;
  line-height: 40px;
  border-radius: 4px;
  margin-right: 7px;
}
.scheme-button:hover{
  background: #b5ce60;
}

.scheme-button .fa{
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0 0;
  font-size: 24px;
}
.scheme-view{
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  height: 40px;
  box-sizing: border-box;
  border: solid 2px #63666d;
  border-radius: 4px;
  background: #63666d;
}

.scheme-view .item{
  float: left;
  width: 43px;
  height: 40px;
  cursor: pointer;
  background: white;
  text-align: center;
}

.scheme-view .item.current{
  background: #63666d;
  cursor: default;

}
.scheme-view .item:hover{
  background: #63666d;
}
.scheme-view .item .fa{
  display: inline-block;
  margin-top: 11px;
  font-size: 16px;
  color: #63666d;
}
.scheme-view .item:hover .fa{
  color: white;
}
.scheme-view .item.current .fa{

  color: white;
}


