.icon-sprite{
  display: block;
  background: url('../images/sprite.png') no-repeat;
}

.icon-lang-en{
  width: 24px;
  height: 16px;
  background-position: -4px -4px;
}
.icon-lang-ru{
  width: 24px;
  height: 16px;
  background-position: -36px -4px;
}


