
.schedule-container{
  padding: 1px 3% 7px;
  max-width: $max-width;
  box-sizing: padding-box;
  margin: 0 auto;
}

.schedule-tabs{
  margin: 0 0 10px 76px;
  padding: 0 15px;
  background: $table-tabs-bg;
}
.schedule-tabs-wrap{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.schedule-tabs .items{
  display: table-row;
}
.schedule-tabs .item{
  display: table-cell;
  vertical-align: middle;
  background: $table-tabs-bg;
  height: 34px;
  padding: 5px 0;
  overflow: hidden;
}
.schedule-tabs .item a{
   display: block;
   text-align: center;
   font-size: $table-tabs-fs;
   line-height: $table-tabs-fs+1;
   font-weight: 700;
   color: $table-tabs-font-color;
   padding: 100px 15px;
   margin: -100px 0;
   background: $table-tabs-bg;
   box-sizing: padding-box;
 }
.schedule-tabs .item.disabled{
  display: none;
}
.schedule-tabs .item.disabled a{
  color: #ccc;
  cursor: default;
}
.schedule-tabs .item.enabled a:hover{
  background: #ededed;
}
.schedule-tabs .item.selected.enabled a:hover,
.schedule-tabs .item.selected a{
  background: $table-tabs-bg-selected;
  color: $table-tabs-font-color-selected;
  cursor: default;
}

.schedule-tabs .name{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schedule-tabs .name:after{
  content: ",";
}
.schedule-tabs .name:last-child:after{
  content: "";
}


.schedule-table{
  overflow: hidden;
  position: relative;
  padding-left: 76px;
  padding-bottom: 20px;
  margin: 0 0 10px;
}

.datatable{
  width: 100%;
}

.datatable .col-outer{
  position: relative;
}
.datatable .col-inner{
  position: absolute;
  width: 100%;
}


.schedule-table .times{
  position: absolute;
  left: 0;
  width: 75px;
  text-align: center;
}
.schedule-table .times .item{
  font-size: $table-times-fs;
  font-weight: 700;
  color: $table-times-color;
  height: 103px;
  margin-top: -3px;
}

.datatable .title{
  font-size: $table-title-fs;
  font-weight: 700;
  text-align: center;
  color: $table-title-color;
  padding: 15px;
  position: relative;
}


.datatable .line{
  position: relative;
  top: -5000px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  margin-right: -1px;
  border-left: solid 1px $table-border-color;
  border-right: solid 1px $table-border-color;

}
.datatable td:last-child .line{
  margin-right: 0;
}


.datatable .col2{
  padding: 15px;
  text-align: center;
}
.datatable .halls{
  vertical-align: top;
  min-width: 200px;
}
.datatable .stands{
  position: relative;
  width: 100%;
  padding-left: 10px;
  vertical-align: top;
}
.datatable .stands .data-block{
  margin: 0 5px;
}
.datatable .stands .col-outer{
  width: 180px;
}

.datatable .data-block{
  margin: 0 15px;
  position: relative;
  z-index: 2;
  border-top: solid 5px rgba(255,255,255,0);
  border-bottom: solid 5px rgba(255,255,255,0);
  box-sizing: border-box;
  font-size: $table-data-fs;
  line-height: $table-data-fs+2;
  color: $table-data-font-color;
  cursor: pointer;
}
.datatable .data-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  background: $table-data-bg;
  border: solid 1px $table-data-border-color;
  box-sizing: border-box;
  overflow: hidden;
  /*box-shadow: 0 0 10px 5px rgba(255,255,255,1);*/
}
.datatable .data-block:hover{
  z-index: 3;
}
.datatable .data-block:hover .data-wrap{
  border: solid 1px $table-data-border-color-hover;
}
.datatable .data-block .icons{
  position: absolute;
  z-index: 2;
  font-size: 14px;
  right: 5px;
  top: 4px;
}
.datatable .data-block .fa{
  margin-left: 1px;
}
.datatable .data-block .fa-thumbs-o-up,
.datatable .data-block .fa-star{
  display: none;
}
.datatable .data-block .liked .fa-thumbs-o-up{
  display: inline-block;
  color: $table-data-icon-color;
  font-size: 16px;
  z-index: 1;
}
.datatable .data-block .faved .fa-star{
  display: inline-block;
  color: $table-data-icon-color;
}

.datatable .data-block .time-interval{
  font-weight: 700;
  padding: 4px 5px;
  position: absolute;
  z-index: 2;
}
.datatable .data-block .text{
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  border-top: solid 18px rgba(0,0,0,0);
  height: 100%;
  padding: 5px;
}
.datatable .data-block.with-themes .text{
  border-bottom: solid 34px rgba(0,0,0,0);
}
.datatable .data-block.with-themes .bottom-gradient{
  bottom: 34px;
}
.datatable .data-block .text p{
  margin: 0 0 10px;
}
.datatable .data-block .text .description{
  color: $table-data-description-color;
}
.datatable .data-block .themes{
  position: absolute;
  width: 82%;
  bottom: 5px;
  right: 6px;
  text-align: right;
  font-style: italic;
  line-height: 14px;
}


.stands-container{
  position: absolute;
  width: 95%;
  overflow: auto;
}
.stands-table{
  table-layout: fixed;
}
.stands-table .cell{
  vertical-align: top;
}

.top-gradient{
  height: 30px;
  width: 98%;
  position: absolute;
  z-index: 1;

  background: -moz-linear-gradient(top,  rgba(195,209,229,1) 0%, rgba(195,209,229,1) 60%, rgba(195,209,229,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(195,209,229,1) 0%,rgba(195,209,229,1) 60%,rgba(195,209,229,0) 100%);
  background: linear-gradient(to bottom,  rgba(195,209,229,1) 0%,rgba(195,209,229,1) 60%,rgba(195,209,229,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d1e5', endColorstr='#00c3d1e5',GradientType=0 );

}
.bottom-gradient{
  height: 20px;
  width: 98%;
  position: absolute;
  bottom: 0;

  background: -moz-linear-gradient(top,  rgba(195,209,229,0) 0%, rgba(195,209,229,0.92) 58%, rgba(195,209,229,1) 98%, rgba(195,209,229,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(195,209,229,0) 0%,rgba(195,209,229,0.92) 58%,rgba(195,209,229,1) 98%,rgba(195,209,229,1) 100%);
  background: linear-gradient(to bottom,  rgba(195,209,229,0) 0%,rgba(195,209,229,0.92) 58%,rgba(195,209,229,1) 98%,rgba(195,209,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c3d1e5', endColorstr='#c3d1e5',GradientType=0 );
}


.height1{ height: 120px; }
.height2{ height: 220px; }
.height3{ height: 320px; }
.height4{ height: 420px; }
.height5{ height: 520px; }
.height6{ height: 620px; }
.height7{ height: 720px; }
.height8{ height: 820px; }
.height9{ height: 920px; }
.height10{ height: 1020px; }
.height11{ height: 1120px; }
.height12{ height: 1220px; }
.height13{ height: 1320px; }
.height14{ height: 1420px; }
.height15{ height: 1520px; }
.height16{ height: 1620px; }

.height1 .col-inner, .height1 .cell{ height: 100px; }
.height2 .col-inner, .height2 .cell{ height: 200px; }
.height3 .col-inner, .height3 .cell{ height: 300px; }
.height4 .col-inner, .height4 .cell{ height: 400px; }
.height5 .col-inner, .height5 .cell{ height: 500px; }
.height6 .col-inner, .height6 .cell{ height: 600px; }
.height7 .col-inner, .height7 .cell{ height: 700px; }
.height8 .col-inner, .height8 .cell{ height: 800px; }
.height9 .col-inner, .height9 .cell{ height: 900px; }
.height10 .col-inner, .height10 .cell{ height: 1000px; }
.height11 .col-inner, .height11 .cell{ height: 1100px; }
.height12 .col-inner, .height12 .cell{ height: 1200px; }
.height13 .col-inner, .height13 .cell{ height: 1300px; }
.height14 .col-inner, .height14 .cell{ height: 1400px; }
.height15 .col-inner, .height15 .cell{ height: 1500px; }
.height16 .col-inner, .height16 .cell{ height: 1600px; }

.maintable{
  table-layout: fixed;
  width: 100%;
}
.maintable td{
  vertical-align: top;
}


.width-column{
  transition: width 1s ease;
  -webkit-transition: width 1s ease;
}
.width1{ width: 200px; }
.width2{ width: 400px; }
.width3{ width: 600px; }
.width4{ width: 800px; }
.width5{ width: 1000px; }
.width6{ width: 1200px; }
.width7{ width: 1400px; }
.width8{ width: 1600px; }
.width9{ width: 1800px; }
.width10{ width: 2000px; }

.bg-stands,
.bg-halls{
  transition: background 0.8s ease-in-out;
  -webkit-transition: background 0.8s ease-in-out;
}
.bg-gray{
  background: #e5e5e5;

}
.stands-block.bg-gray,
.block-stands.bg-gray{
  box-shadow: inset 1px 0 0 0 rgba(255,255,255,1);
}
.datatable td:first-child .line.bg-gray{
  box-shadow: inset 1px 0 0 0 rgba(255,255,255,1);
}
.datatable td:last-child .line.bg-gray{
  box-shadow: inset -1px 0 0 0 rgba(255,255,255,1);
}

.block-halls{
  overflow: hidden;
}


.table-headers .block-halls .datatable{
  table-layout: fixed;
  float: right;
}
.table-headers .block-halls .datatable .cell{
  width: 200px;
  vertical-align: middle;
}
.table-headers .block-stands{
  vertical-align: middle;
}
.table-headers .block-stands .datatable .cell{
  vertical-align: middle;
}

.table-contents-halls{
  overflow: hidden;
  position: relative;
}
.table-contents-stands{
  position: relative;
}

.table-contents-halls .datatable{
  table-layout: fixed;
  float: right;
}
.table-contents-halls .datatable .halls{
  width: 200px;
}


.table-contents-halls .control{
  position: absolute;
  z-index: 9;
  top: 50%;
  right: 10px;
  margin-top: -36px;
}
.table-contents-halls .control .halls-control{
  display: none;
  font-size: 72px;
  color: white;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  cursor: pointer;
}

.table-contents-stands .control{
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 30px;
  margin-top: -24px;
}
.table-contents-stands .control .stands-control{
  font-size: 48px;
  color: white;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  cursor: pointer;
}