
.schedule-container{
  padding: 1px 3% 7px;
  max-width: $max-width;
  box-sizing: padding-box;
  margin: 0 auto;
}

.schedule-tabs{
  margin: 10px 0;
  padding: 0 15px;
  background: #f5f5f5;
}
.schedule-tabs-wrap{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.schedule-tabs .items{
  display: table-row;
}
.schedule-tabs .item{
  display: table-cell;
  vertical-align: middle;
  background: #f5f5f5;
  height: 34px;
  padding: 5px 0;
  overflow: hidden;
}
.schedule-tabs .item a{
   display: block;
   text-align: center;
   font-size: 17px;
   line-height: 18px;
   font-weight: 700;
   color: #646464;
   padding: 100px 15px;
   margin: -100px 0;
   background: #f5f5f5;
   box-sizing: padding-box;
 }
.schedule-tabs .item.disabled{
  display: none;
}
.schedule-tabs .item.disabled a{
  color: #ccc;
  cursor: default;
}
.schedule-tabs .item.enabled a:hover{
  background: #ededed;
}
.schedule-tabs .item.selected.enabled a:hover,
.schedule-tabs .item.selected a{
  background: #bcd46a;
  color: white;
  cursor: default;
}

.schedule-tabs .name{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schedule-tabs .name:after{
  content: ",";
}
.schedule-tabs .name:last-child:after{
  content: "";
}

.schedule-table{
  width: 100%;
  table-layout: fixed;
}
.schedule-table td{

}
.schedule-table .col-first{
  width: 5%;
}
.schedule-table .cols4{
  width:15%;
}
.schedule-table .col-last{
  width: 35%;
}
.schedule-table .data td{
  height: 100px;
}
.schedule-table .data td{
  border-left: solid 1px #e1e1e1;
}
.schedule-table .data td:first-child{
  border: none;
}
.schedule-table .titles td{
  padding-top: 11px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #646464;
}
.schedule-table .titles td{
  padding: 13px;
  border-left: solid 1px #e1e1e1;
}
.schedule-table .titles td:first-child{
  border: none;
}
.schedule-table .time{
  font-size: 14px;
  font-weight: 700;
  color: #646464;
  vertical-align: top;
  padding-top: 20px;
}
.schedule-table .data-block{
  margin: 0 15px;
  padding: 5px;
  font-size: 12px;
  background: #d9e9ff;
}
.schedule-table .hr td{
  height: 10px;
  padding: 0;
  margin: 0;
  font-size: 0;
}