
.schedule-container{
  padding: 1px 3% 7px;
  max-width: $max-width;
  box-sizing: padding-box;
  margin: 0 auto;
}

.schedule-tabs{
  margin: 0 0 10px 76px;
  padding: 0 15px;
  background: $table-tabs-bg;
}
.schedule-tabs-wrap{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.schedule-tabs .items{
  display: table-row;
}
.schedule-tabs .item{
  display: table-cell;
  vertical-align: middle;
  background: $table-tabs-bg;
  height: 34px;
  padding: 5px 0;
  overflow: hidden;
}
.schedule-tabs .item a{
   display: block;
   text-align: center;
   font-size: $table-tabs-fs;
   line-height: $table-tabs-fs+1;
   font-weight: 700;
   color: $table-tabs-font-color;
   padding: 100px 15px;
   margin: -100px 0;
   background: $table-tabs-bg;
   box-sizing: padding-box;
 }
.schedule-tabs .item.disabled{
  display: none;
}
.schedule-tabs .item.disabled a{
  color: #ccc;
  cursor: default;
}
.schedule-tabs .item.enabled a:hover{
  background: #ededed;
}
.schedule-tabs .item.selected.enabled a:hover,
.schedule-tabs .item.selected a{
  background: $table-tabs-bg-selected;
  color: $table-tabs-font-color-selected;
  cursor: default;
}

.schedule-tabs .name{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schedule-tabs .name:after{
  content: ",";
}
.schedule-tabs .name:last-child:after{
  content: "";
}


.schedule-table{
  overflow: hidden;
  position: relative;
  padding-left: 76px;
  padding-bottom: 20px;
  margin: 0 0 10px;
}

.maintable{
  width: 100%;
}

.maintable .col-outer{
  position: relative;
}
.maintable .col-inner{
  position: absolute;
  width: 100%;
}


.maintable .times{
  position: absolute;
  left: 0;
  border-right: solid 1px #e1e1e1;
  width: 76px;
  text-align: center;
}
.maintable .times .item{
  font-size: $table-times-fs;
  font-weight: 700;
  color: $table-times-color;
  height: 103px;
  margin-top: -3px;
}

.maintable .title{
  font-size: $table-title-fs;
  font-weight: 700;
  text-align: center;
  color: $table-title-color;
}

.maintable .col1{
  max-width: 250px;
  padding: 15px;
  margin-right: -1px;
  border-left: solid 1px $table-border-color;
  border-right: solid 1px $table-border-color;
  padding-bottom: 10015px;
  margin-bottom: -10000px;
}
.maintable .col2{
  padding: 15px;
  text-align: center;
}
.maintable .halls{
  vertical-align: top;
  min-width: 200px;
}
.maintable .stands{
  position: relative;
  width: 100%;
  padding-left: 10px;
  vertical-align: top;
}
.maintable .stands .data-block{
  margin: 0 5px;
}
.maintable .stands .col-outer{
  width: 180px;
}

.maintable .data-block{
  margin: 0 15px;
  position: relative;
  z-index: 2;
  border-top: solid 5px rgba(255,255,255,0);
  border-bottom: solid 5px rgba(255,255,255,0);
  box-sizing: border-box;
  font-size: $table-data-fs;
  line-height: $table-data-fs+2;
  color: $table-data-font-color;
  cursor: pointer;
}
.maintable .data-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  background: $table-data-bg;
  border: solid 1px $table-data-border-color;
  box-sizing: border-box;
  overflow: hidden;
}
.maintable .data-block:hover .data-wrap{
  border: solid 1px $table-data-border-color-hover;
}
.maintable .data-block .icons{
  position: absolute;
  z-index: 2;
  font-size: 14px;
  right: 5px;
  top: 4px;
}
.maintable .data-block .fa{
  margin-left: 1px;
}
.maintable .data-block .fa-thumbs-o-up,
.maintable .data-block .fa-star{
  display: none;
}
.maintable .data-block .liked .fa-thumbs-o-up{
  display: inline-block;
  color: $table-data-icon-color;
  font-size: 16px;
  z-index: 1;
}
.maintable .data-block .faved .fa-star{
  display: inline-block;
  color: $table-data-icon-color;
}

.maintable .data-block .time-interval{
  font-weight: 700;
  padding: 4px 5px;
  position: absolute;
  z-index: 2;
}
.maintable .data-block .text{
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  border-top: solid 18px rgba(0,0,0,0);
  height: 100%;
  padding: 5px;
}
.maintable .data-block.with-themes .text{
  border-bottom: solid 34px rgba(0,0,0,0);
}
.maintable .data-block.with-themes .bottom-gradient{
  bottom: 34px;
}
.maintable .data-block .text p{
  margin: 0 0 10px;
}
.maintable .data-block .text .description{
  color: $table-data-description-color;
}
.maintable .data-block .themes{
  position: absolute;
  width: 82%;
  bottom: 5px;
  right: 6px;
  text-align: right;
  font-style: italic;
  line-height: 14px;
}


.stands-container{
  position: absolute;
  width: 98%;
  overflow: auto;
}
.stands-table{
  table-layout: fixed;
}
.stands-table .cell{
  vertical-align: top;
}

.top-gradient{
  height: 30px;
  width: 98%;
  position: absolute;
  z-index: 1;
  background: -moz-linear-gradient(top,  rgba(217,233,255,1) 0%, rgba(217,233,255,1) 60%, rgba(217,233,255,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(217,233,255,1) 0%,rgba(217,233,255,1) 60%,rgba(217,233,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(217,233,255,1) 0%,rgba(217,233,255,1) 60%,rgba(217,233,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e9ff', endColorstr='#00d9e9ff',GradientType=0 );
}
.bottom-gradient{
  height: 20px;
  width: 98%;
  position: absolute;
  bottom: 0;

  background: -moz-linear-gradient(top,  rgba(217,233,255,0) 0%, rgba(217,233,255,0.92) 58%, rgba(217,233,255,1) 98%, rgba(217,233,255,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(217,233,255,0) 0%,rgba(217,233,255,0.92) 58%,rgba(217,233,255,1) 98%,rgba(217,233,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(217,233,255,0) 0%,rgba(217,233,255,0.92) 58%,rgba(217,233,255,1) 98%,rgba(217,233,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9e9ff', endColorstr='#d9e9ff',GradientType=0 );
}


.height1{ height: 120px; }
.height2{ height: 220px; }
.height3{ height: 320px; }
.height4{ height: 420px; }
.height5{ height: 520px; }
.height6{ height: 620px; }
.height7{ height: 720px; }
.height8{ height: 820px; }
.height9{ height: 920px; }
.height10{ height: 1020px; }

.height1 .col-inner, .height1 .cell{ height: 100px; }
.height2 .col-inner, .height2 .cell{ height: 200px; }
.height3 .col-inner, .height3 .cell{ height: 300px; }
.height4 .col-inner, .height4 .cell{ height: 400px; }
.height5 .col-inner, .height5 .cell{ height: 500px; }
.height6 .col-inner, .height6 .cell{ height: 600px; }
.height7 .col-inner, .height7 .cell{ height: 700px; }
.height8 .col-inner, .height8 .cell{ height: 800px; }
.height9 .col-inner, .height9 .cell{ height: 900px; }
.height10 .col-inner, .height10 .cell{ height: 1000px; }
/*
.maintable .col-inner{
  height: 900px;
}
.stands-table .cell{
  height: 900px;
}
.maintable .halls{
  height: 920px;
}
.stands-container{
  height: 920px;
}
*/